.devcontainer/**
.gitattributes
.github/**
.gitignore
.vscode-test/**
.vscode/**

assets/*
!assets/images/logo/icon.png

node_modules/**
test/**
coverage/**
src/*
!src/template.json
!src/palettes.ts

build.ts
extension.ts
jest.config.ts
package-lock.json
tsconfig.json
webpack.config.js
