.devcontainer/**
.gitattributes
.github/**
.gitignore
.vscode-test/**
.vscode/**
assets/images/customUI/**
assets/images/preview/**
assets/images/screenshots/**
build.ts
extension.ts
package-lock.json
src/**
tsconfig.json
webpack.config.js
webview/**
