.devcontainer/**
.gitattributes
.github/**
.gitignore
.dockerignore
.vscode-test/**
.vscode/**
assets/images/customUI/**
assets/images/preview/**
assets/images/screenshots/**
node_modules/**
test/**
coverage/**
build.ts
extension.ts
jest.config.ts
local-ci.sh
package-lock.json
src/ConfigurationService.ts
src/constants.ts
src/palettes/**
src/SettingsPanel.ts
src/WebviewManager.ts
tsconfig.json
webpack.config.js
